<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Wtf Should I Eat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" media="screen" href="/styles/main.css" />
  <!-- <script src="main.js"></script> -->
</head>
<body>
  <div class="container">

        <div>
            <h1 class="title">Where the F*%# Should I Eat</h1>
            <div id="form">
              <form action="/" method="post">
                <div>
                  <!-- <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div> -->
                  <input id="locationBox" type="text" class="form-control" placeholder="City, State or Zip Code" name="location" aria-label="location" aria-describedby="search location"><button onClick="getLocation()">Use current location</button>
                  <div class="slidecontainer">
                    <label for="slider">Price</label>
                    <input type="range" min="1" max="4" value="1" class="slider" id="myRange">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>

            </div>
        </div>

  </div>

<script>
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    console.log("Geolocation is not supported by this browser.");
  }
}

function sendLocation() {
  let locationValue = document.getElementById('location').value;
  console.log(locationValue);
}

function showPosition(position) {
  //console.log(`lattitude: ${position.coords.latitude} longitude:  ${position.coords.longitude}`);
  let locationBox = document.getElementById('locationBox');
  locationBox.value = ` ${position.coords.latitude}, ${position.coords.longitude}`;
}</script>
<% include ./partials/footer %>